#Anwendungsbeispiele {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #Anwendungsbeispiele td, #Anwendungsbeispiele th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #Anwendungsbeispiele tr:nth-child(even){background-color: #f2f2f2;}

  #Anwendungsbeispiele tr:hover {background-color: #ddd;}

  #Anwendungsbeispiele th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #BDBDBD;
    color: rgb(0, 0, 0);
  }

  .looper { animation: perspect 4s infinite linear }
@keyframes perspect {
   0% {transform:perspective(300px) rotateY(0deg)}
   25% {transform:perspective(300px) rotateY(90deg)}
   50% {transform:perspective(300px) rotateY(180deg)}
   75% {transform:perspective(300px) rotateY(270deg)}
   100% {transform:perspective(300px) rotateY(360deg)}
}

.kontaktinformationen{
  text-align: left;
  margin-left: 15pt; 
  margin-top:30pt
}
